In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
production = pd.read_csv('../data/cleaned_data/clean_production.csv')

production.head()

,Country,Coffee type,1990/91,1991/92,1992/93,1993/94,1994/95,1995/96,1996/97,1997/98,...,2010/11,2011/12,2012/13,2013/14,2014/15,2015/16,2016/17,2017/18,2018/19,2019/20
0,Angola,Robusta/Arabica,3000,4740,4680,1980,4620,3720,4260,3840,...,2100,1740,1980,2100,2340,2460,2700,2100,2520,3120
1,Bolivia (Plurinational State of),Arabica,7380,6240,7200,3060,7020,8520,7500,8460,...,7020,7920,6300,7200,6000,5040,4680,5040,4980,4860
2,Brazil,Arabica/Robusta,1637160,1637580,2076180,1690020,1691520,1083600,1751820,1568880,...,3325680,2915520,3325080,3281340,3198300,3172260,3407280,3164400,3907860,3492660
3,Burundi,Arabica/Robusta,29220,40020,37200,23580,39840,26040,24060,15000,...,21180,12240,24360,9780,14880,16140,11760,12120,12240,16320
4,Ecuador,Arabica/Robusta,90240,127440,71100,124140,142560,113280,119580,71460,...,51240,49500,49680,39960,38640,38640,38700,37440,29760,33540

In [7]:
# adding a column for Total production    
production['Total_production'] = production.iloc[:, 2:33].sum(axis=1)

In [10]:
total_production = production[['Country', 'Total_production', 'Coffee type']].sort_values(by=['Total_production'],
                                                                                        ascending=False)
total_production

                             Country  Total_production      Coffee type
2                             Brazil          75082980  Arabica/Robusta
53                          Viet Nam          28803180  Robusta/Arabica
23                          Colombia          21598620          Arabica
5                          Indonesia          15404880  Robusta/Arabica
29                          Ethiopia           8669520          Arabica
36                             India           8222220  Robusta/Arabica
41                            Mexico           7853520  Arabica/Robusta
32                         Guatemala           7020540  Arabica/Robusta
35                          Honduras           6672720          Arabica
51                            Uganda           5919480  Robusta/Arabica
10                              Peru           5317620          Arabica
25                     CÃ´te d'Ivoire           4761420          Robusta
24                        Costa Rica           3596700          Arabica
27                       El Salvador           2820900          Arabica
43                         Nicaragua           2749380          Arabica
52                         Venezuela           1992780          Arabica
4                            Ecuador           1900380  Arabica/Robusta
8                   Papua New Guinea           1803120  Arabica/Robusta
38                             Kenya           1768320          Arabica
48                          Thailand           1674000  Robusta/Arabica
19                          Tanzania           1474680  Arabica/Robusta
21                          Cameroon           1358640  Robusta/Arabica
26      Democratic Republic of Congo           1051080  Robusta/Arabica
6                         Madagascar           1045560          Robusta
16                Dominican Republic            909540  Arabica/Robusta
18                       Philippines            890700  Robusta/Arabica
17                             Haiti            698880          Arabica
3                            Burundi            623640  Arabica/Robusta
39  Lao People's Democratic Republic            568080          Robusta
11                            Rwanda            567540          Arabica
33                            Guinea            482460          Robusta
15                              Cuba            359160          Arabica
49                              Togo            281400          Robusta
45                            Panama            280980          Arabica
1   Bolivia (Plurinational State of)            207000          Arabica
54                             Yemen            190920          Arabica
22          Central African Republic            184020          Robusta
13                          Zimbabwe            132120          Arabica
46                      Sierra Leone             87180          Robusta
7                             Malawi             82260          Arabica
0                             Angola             82080  Robusta/Arabica
44                           Nigeria             81900          Robusta
20                            Zambia             76800          Arabica
47                         Sri Lanka             73860  Robusta/Arabica
12                       Timor-Leste             68640          Arabica
31                             Ghana             63660          Robusta
9                           Paraguay             62220                0
37                           Jamaica             54000          Arabica
50                 Trinidad & Tobago             25740          Robusta
40                           Liberia             14880          Robusta
34                            Guyana             10800          Robusta
14                             Congo              6900          Robusta
30                             Gabon              2700          Robusta
42                             Nepal              1440          Arabica
28                 Equatorial Guinea              1080          Robusta

In [11]:
#looking for Top 5 producers
top5_production = production[['Country', 'Total_production', 'Coffee type']].sort_values(by=['Total_production'],
                                                                                        ascending=False).head(5)
top5_production

      Country  Total_production      Coffee type
2      Brazil          75082980  Arabica/Robusta
53   Viet Nam          28803180  Robusta/Arabica
23   Colombia          21598620          Arabica
5   Indonesia          15404880  Robusta/Arabica
29   Ethiopia           8669520          Arabica

In [23]:
#Create df of production with only top 5 countries
production_time = production[production['Country'].isin(top5_production['Country'])]
#transpose df, making sure to sort values
production_time = production_time.sort_values(by=['Total_production'],ascending=False).T
#drop the non-numeric and totals rows
production_time.drop(['Country', 'Coffee type', 'Total_production'], axis=0, inplace=True)
# use top 5 country names
production_time.columns = top5_production['Country'].values
#set index name 
production_time.index.name = 'Year'
#reset the index
production_time.reset_index()
production_time

          Brazil Viet Nam Colombia Indonesia Ethiopia
Year
1990/91  1637160    78600   863760    446460   174540
1991/92  1637580    86280  1078800    509580   175500
1992/93  2076180   140400   896820    334140   109500
1993/94  1690020   181200   685320    404580   178020
1994/95  1691520   217920   777840    322080   165780
1995/96  1083600   238200   776280    274380   189900
1996/97  1751820   345120   646740    493260   204420
1997/98  1568880   418740   727320    457260   183420
1998/99  2205660   423120   652080    437760   175680
1999/00  2854680   697860   570720    393420   227040
2000/01  1878600   890460   631140    419220   186900
2001/02  1881900   785580   717000    409980   242640
2002/03  2901120   694440   702720    403860   245640
2003/04  1732380   920220   663180    384240   263640
2004/05  2356860   862200   685740    452160   312780
2005/06  1975980   830520   717120    549540   286740
2006/07  2905920  1160400   729840    448980   333060
2007/08  2334660   984300   750900    466620   358020
2008/09  3089460  1106280   519840    576720   296940
2009/10  2638620  1069500   485880    682800   409800
2010/11  3325680  1200000   511380    547740   333600
2011/12  2915520  1590000   459180    413340   339000
2012/13  3325080  1404120   595620    784200   367920
2013/14  3281340  1656600   727440    774060   374520
2014/15  3198300  1634460   799980    656760   382980
2015/16  3172260  1865400   840540    755100   390900
2016/17  3407280  1669140   878040    692460   428580
2017/18  3164400  2005920   829440    651120   440820
2018/19  3907860  1816980   831960    577080   450660
2019/20  3492660  1829220   846000    685980   440580

In [24]:
production_time["Viet Nam"].sum()

28803180